*{
    direction: rtl;
    box-sizing: border-box;
}
body{
    font: 9pt tahoma;
    line-height: 1.8em;
}
.clear{
    clear: both;
}
a:hover{
    text-decoration: none;
}
.header{
    background: url('img/header-bg.jpg') no-repeat 0 0 ;
    background-size: cover;
    min-height: 230px;
}
.header-link li a{
    padding: 20px 15px 0 0;
    color: #e2faff;
    background-color: transparent;
}
.nav li a:hover{
    background-color: transparent;
    color: #fff;
}
#cart-container-float{
    position: fixed;
    left: 42%;
    background-color: white;
    border-radius: 0 0 20px 20px;
    border: 1px solid #cdcdcd;
    z-index: 1000;
    padding: 6px;
    font-size: 8pt;
    background-color:#edf1f1;
    font-family: IRANSans;
}
.center{
    text-align: center;
}
.search-box{
    margin-top: 70px;
    border-bottom: 2px solid black;
    position: relative;
}
.search-box input{
    border: none;
    background-color:transparent;
    color:white;
    height: 30px;
    padding: 5px;
    width: 40%;
    padding: 0 0 10px;
}
.search-box i{
    position: absolute;
    top: -2px;
    left: 10px;
    color: white;
}
#logo .img-responsive{
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}
.btn-block{
    cursor:pointer;
}

#cart .btn{
        background: rgba(0,0,0,0) none repeat scroll 0 0;
        border-color: #1c1c1c;
        border-style: solid;
        border-width: 0 0 2px;
        color: #fff;
        margin: 52px 0 0;
        padding: 0 0 10px;
        border-radius: 0;
        font-size: 18px;
        font-family: IRANSans;
    }
    .btn-block{
        display: block;
        width: 100%;
    }
    #main-menu .navbar-nav > li a{
        color: #1c1c1c;
        font-size:18px;
    }
    #main-menu .navbar-nav > li a:hover{
        background: #34b0cd none repeat scroll 0 0;
        color: white;
        border-radius: 5px;
    }
    #main-menu.navbar {
        background: #fff none repeat scroll 0 0;
        border: medium none;
        border-radius: 0;
        box-shadow: 0 2px 2px 2px rgba(0,0,0,0.2);
        margin:0;
        padding: 10px 0 8px;
        color: #1c1c1c;
        font-family: IRANSans;
    }
    .navbar-collapse{
        padding-right: 0px !important;
    }
    .heading-with-border{
        background: #37B3CD none repeat scroll 0 0;
        border-radius: 2px;
        color: #fff;
        font-size: 14pt;
        padding: 9px 10px;
        padding-bottom: 10px;
        margin-top: 40px;
        min-height: 45px;
        font-family: IRANSans;
    }
    .product-col{
        background: white none repeat scroll 0 0;
        box-shadow: 0 0 4px rgba(0,0,0,0.4);
        margin-bottom: 20px;
        padding: 15px 15px 10px;
        text-align: center;
        min-height: 320px;
        position: relative;
    }
    .main-container img{
        margin: 0 auto;
        display: block;
        max-width: 100%;
        max-height: 100%;
        height: auto;
    }
    .product-title a{
        font-size: 8pt;
        color: #1c1c1c;
        margin-top: 5px;
        font-family: IRANSans;
    }
    .product-title a:hover{
        color: #5c5b5b;
    }
    .product-price{
        color: red;
        font-size: 11px;
        position: absolute;
        bottom: 60px;
        left:10px;
        right: 10px;
        font-family: IRANSans;
    }
    .product-col .btn-cart{
        background: rgba(0,0,0,0) linear-gradient(55deg,#1c1c1c 118px,transparent 117px) repeat scroll 0 0;
        color: #fff;
        padding: 6px 15px;
        border: medium  none;
        text-transform: uppercase;
        font-size: 12px;
        margin-top: 10px;
        position: absolute;
        bottom: 20px;
        left:30px;
        right:50px;
    }
    .product-col .btn-cart:hover{
        background: rgba(0,0,0,0) linear-gradient(55deg,#37B3CD 118px,transparent 117px) repeat scroll 0 0;
    }
    .brief-post{
        text-align: justify;
        min-height: 175px;
        font-family: IRANSans;
        padding: 7px;
        margin-bottom: 30px;
        font-size: 10px;
    }
    .right{
        float: right !important;
        margin-right: 90px;
    }
    .left{
        float: left !important;
        margin-left: 70px;
    }
    .brief-post h2 a{
        color: black;
        font-size: 18px;
        font-family: IRANSans;
        line-height: 1em;
    }
    .brief-post h2{
        min-height: 60px;
    }
    .brief-post h2 a:hover{
        color: #5c5b5b;
    }
    .list-blog-image{
        float: right;
        padding: 5px;
    }
    .footer-links{
        background: url('img/header-bg.jpg') no-repeat 0 0 ;
        padding: 30px 0px 40px;
    }
    .footer-links h5{
        margin-bottom: 20px;
        font-size: 18px;
    }
   
    .footer-links, .footer-links li, .footer-links li a, .footer-links li a:hover, .footer-links h4, .footer-links h5{
        color: #fff;
    }
    .footer-links ul{
        list-style: outside none none;
        margin: 0;
        padding: 0;
    }
    footer a:hover{
    color: #31A1B9 !important;
    background-color: #ddf2f7;
    padding: 5px;
    }
    .copyright{
        background: #1c1c1c none repeat scroll 0 0;
        color: white;
        padding: 18px 0px 8px;
    }

