*{
    padding: 0px;
    margin: 0px;
    direction: rtl;
    box-sizing: border-box;
}
body{
    direction: rtl;
    font-size: 14px;
    font-family: IRANSans;
    text-align: justify;
    line-height: 26px;
    color: #666;
    overflow-x:hidden;

}
.clear{
    clear: both;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}
a:hover{
    text-decoration: none;
}
.header{
    min-height: 220px;
    background-color: #232f3e;
    width: 100%;
}
.header .container{
    margin-right: 60px;
    margin-left: 20px;
}
.header-top{
    padding-top:60px; 
}
#logo{
    margin-right:30px;
    margin-top: 10px;
}
.header-link{
    font-size: 16px;
}
li{
    list-style: none;
}
ul.megamenu li{
    padding: 10px;
    margin-left: 20px;
    position: relative;
    display: inline-block;
    list-style: none;
}
ul.megamenu li a:hover{
    color: #ff3c20;
}
.fa{
    padding: 5px;
    color:#ff3c20;
}
.signin-link a:hover{
    color: #ff3c20;
}
.telephone a:hover{
    color: white;
}
.signin-link{
    padding-top: 10px;
}
.middle-left ul li{
    padding-right: 115px;
}
.all-category{
    border: 1px solid #ff3c20;
    background-color: #ff3c20;
    padding: 6px 10px 7px 40px;
    width: 20%;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    position: relative;
    font-size: 17px;
}
.all-category a:hover{
    color: white;
}
.all-category::before{
    content: "\f0c9";
    font-family: fontawesome;
    font-size: 25px;
    position: absolute;
    top: 6px;
    right: 20px;
    color: white;
}
.all-category::after{
    content: "\f078";
    font-family: fontawesome;
    font-size: 12px;
    position: absolute;
    top: 7px;
    left: 15px;
    color: white;
}










.main-menu .header-link .container ul li {
    float: right;
    width: auto;
    margin-left: 5px;
}
.main-menu .header-link .container ul li a {
    display: block;
    padding: 5px 5px;
}
.main-menu .header-link .container ul li:hover .mega-menu {
    display: block;
}
.main-menu .header-link .container .menu-title {
    font-size: 12pt;
    color: black;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eaeaea;
    text-transform: uppercase;
}
.main-menu .header-link .container .menu-list > ul >li >a {
    color: #666;
    font-size: 11px;
}
.main-menu .header-link .container .menu-page{
    width: 400px;
}
.main-menu .header-link .container .menu-list .menu-page > ul >li >a:hover{
    color: #ff3c20;
}
.main-menu .header-link .container .menu-list > ul >li >a:hover{
    color: #ff3c20;
}
.main-menu .header-link .container ul {
    padding: 0;
    margin: 0;
}
.main-menu .header-link .container ul li {
    float: right;
    width: auto;
}
.main-menu .header-link .mega-menu ul li {
    display: block;
    width: 100% !important;
}
.main-menu .header-link .mega-menu ul li a {
    padding: 0px !important;
    display: block;
}
.top-menu #top-navbar li a:hover {
    color: white;
    text-decoration: none;
    background-color: #ff3c20;
}
.main-menu .header-link .mega-menu {
    display: none;
    min-height: 150px;
    min-width: 700px;
    position: absolute;
    background-color: white;
    border: 1px solid white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    z-index: 102;
    right: 0;
    left: 0;
}

















.hidden-lg {
    display: none !important;
}
#sosearchpro.so-search {
    width: 100%;
    padding: 0;
}
#sosearchpro {
    padding: 10px 0;
    width: 60%;
    margin-right:5px;
}
#sosearchpro .search {
    position: relative;
    margin: 0;
    width: 100%;
    border-radius: 5px;
}
#sosearchpro .search .select_category {
    border: none;
        border-left-color: currentcolor;
        border-left-style: none;
        border-left-width: medium;
    border-left: 1px solid #d7d7d7;
    background-color: #f5f5f5;
    border-bottom-right-radius: 5px !important;
    border-top-right-radius: 5px !important;
    width: 22%;
}
#sosearchpro .select_category {
    position: relative;
    display: table-cell;
    vertical-align: top;
    border: 1px solid #e5e5e5;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    background: white;
        background-color: white;
}
#sosearchpro .search .select_category select {
    height: 40px;
    line-height: 40px;
    color: #666;
    font-size: 12px;
    padding: 0 4px;
}
#sosearchpro .select_category select {
    height: 40px;
    width: 100%;
    line-height: 100%;
    padding: 0 5px;
    border: none;
    float: left;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#sosearchpro .select_category::after{
    content: "\f0d7";
    font-family: fontawesome;
    font-size: 12px;
    position: absolute;
    top: 8px;
    left: 8px;
    color:#666;
}
option {
    padding: 2px 5px;
    border-width: 1px;
}
#sosearchpro .search .select_category select {
    line-height: 40px;
    color: #666;
    font-size: 12px;
}
.chosen-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#sosearchpro .chosen-container-single .chosen-single {
    min-width: 180px;
}
#sosearchpro .chosen-container-single .chosen-single {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    background: none;
    height: 40px;
    line-height: 40px;
}
.chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 0 0 8px;
    height: 25px;
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #fff), color-stop(50%, #f6f6f6), color-stop(52%, #eee), to(#f4f4f4));
    background: linear-gradient(#fff 20%, #f6f6f6 50%, #eee 52%, #f4f4f4 100%);
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #444;
    text-decoration: none;
    white-space: nowrap;
    line-height: 24px;
}
.chosen-container a {
    cursor: pointer;
}
.chosen-container * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
a, a:visited, a:active, a:link, a:focus {
    cursor: pointer;
    text-decoration: none;
    outline: none;
}
.chosen-container-single .chosen-single span {
    display: block;
    overflow: hidden;
    margin-right: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.chosen-container-single .chosen-single div {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 18px;
    height: 100%;
}
#sosearchpro .chosen-container-single .chosen-single div b {
    background-position: 2px 10px;
}
.chosen-container-single .chosen-single div b {
    display: block;
    width: 100%;
    height: 100%;
    background: url("chosen-sprite.png") no-repeat 0px 2px;
        background-position-x: 0px;
        background-position-y: 2px;
}
b, strong {
    font-weight: 700;
}
#sosearchpro .chosen-container .chosen-drop {
    border: 1px solid #e5e5e5;
}
.chosen-container-single .chosen-drop {
    margin-top: -1px;
    border-radius: 0 0 4px 4px;
    background-clip: padding-box;
}
.chosen-container .chosen-drop {
    position: absolute;
    top: 100%;
    z-index: 1010;
    width: 100%;
    border: 1px solid #aaa;
    border-top: 0;
    background: #fff;
        background-clip: border-box;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    clip: rect(0, 0, 0, 0);
    -webkit-clip-path: inset(100% 100%);
    clip-path: inset(100% 100%);
}
.chosen-container-single .chosen-search {
    position: relative;
    z-index: 1010;
    margin: 0;
    padding: 3px 4px;
    white-space: nowrap;
}
header #sosearchpro .search .chosen-container input {
    margin: 0;
    padding-left: 10px;
}
#sosearchpro .search input {
    border: none;
    border-radius: 0px;
    background-color: #fff;
    z-index: 0;
    height: 40px;
    padding-left: 0px;
    font-size: 12px;
    width: 100%;
    background-color: #fff;
    color: #999;
}
header #sosearchpro input.chosen-search-input {
    height: 23px !important;
    line-height: 23px;
    border: 1px solid #efefef !important;
}
.chosen-container-single .chosen-search input[type="text"] {
    margin: 1px 0;
    padding: 4px 20px 4px 5px;
        padding-left: 5px;
    width: 100%;
    height: auto;
    outline: 0;
    border: 1px solid #aaa;
    background: url("chosen-sprite.png") no-repeat 100% -20px;
        background-color: rgba(0, 0, 0, 0);
    font-size: 1em;
    font-family: sans-serif;
    line-height: normal;
    border-radius: 0;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, .form-control, select {
    border-radius: 3px;
    background-color: #eee;
    border: none;
    color: #3d3d3d;
    padding: 9px;
    font-size: 12px;
    font-size: 1.2rem;
    box-shadow: none !important;
    transition: all 0.3s ease;
}
input[type="text"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.chosen-container .chosen-results {
    color: #444;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 4px 4px 0;
    padding: 0 0 0 4px;
    max-height: 240px;
    -webkit-overflow-scrolling: touch;
}
ul, ul.menu, ol.menu, ul.blank, .our-member .respl-item .info-member ul, .why-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
#sosearchpro .chosen-container .chosen-results li {
    white-space: nowrap;
}
.chosen-container .chosen-results li.active-result {
    display: list-item;
    cursor: pointer;
}
.chosen-container .chosen-results li {
    display: none;
    margin: 0;
    padding: 5px 6px;
    list-style: none;
    line-height: 15px;
    word-wrap: break-word;
    -webkit-touch-callout: none;
}
#sosearchpro .search input {
    border: none;
    border-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    background-color: #fff;
    z-index: 0;
    height: 40px;
    padding-left: 20px;
    font-size: 12px;
    width: 100%;
    background-color: #fff;
    color: #999;
}
header #sosearchpro .dropdown-menu {
    border-radius: 0;
}
header #sosearchpro .dropdown-menu {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
}
#sosearchpro .dropdown-menu {
    min-width: 300px;
}
#sosearchpro .dropdown-menu {
    padding: 0px;
    max-height: 300px;
    overflow-y: scroll;
}
header .dropdown-menu {
    display: block;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
    transition: all 0.2s ease-out;
    margin-top: 10px;
    padding: 10px 20px;
    min-width: 120px;
    box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.2);
    right: 0;
    left: auto;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 0px;
}
.dropdown-menu {
    background: #fff;
        background-clip: border-box;
    padding: 5px 0;
    margin-top: 0;
    border-radius: 0px;
    border: none;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    font-size: 12px;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
        margin-top: 2px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
#sosearchpro .search .input-group-btn {
    width: 0;
}
.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}
.input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
#sosearchpro .search button {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    padding: 0 35px;
    font-size: 14px;
    color: #fff;
    border-radius: 0;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    text-transform: upper-case;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
#sosearchpro .search button {
    background-color: #ff3c20;
}
#sosearchpro .search button:hover {
    background-color: #ec1e00;
}
#sosearchpro .button-search {
    border-color: #e5e5e5;
    height: 42px;
}
.btn-default {
    background: #ff3c20;
        background-color: rgb(255, 60, 32);
    border-radius: 0;
}
.btn-lg, .btn-group-lg > .btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}
.button, .btn {
    padding: 9px 20px;
    background: #495057;
    color: #fff;
    border-radius: 5px;
    border: none;
        border-top-color: currentcolor;
        border-right-color: currentcolor;
        border-bottom-color: currentcolor;
        border-left-color: currentcolor;
    background: #ff3c20;
    border-color: #ff3c20;
}
#sosearchpro .search button i {
    font-size: 12px;
    color: #fff;
}
.button .fa, .btn .fa {
    margin: 0 5px;
}
:focus {
    outline: none;
}
#sosearchpro .search .select_category select:hover {
    cursor: pointer;
}






.bottom3{
    margin-left:20px;
    color: #f4f4f4;
    position: relative;
}
.like a::before{
    content: "\f021";
    font-family: fontawesome;
    font-size: 30px;
    position: absolute;
    top: 6px;
    left:-40px;
    color: #ff3c20;
  
}
.like a::after{
    content: "\f290";
    font-family: fontawesome;
    font-size: 25px;
    position: absolute;
    top: 6px;
    left: 20px;
    color: #ff3c20;
  
}
.fa-heart{
    position: absolute;
    top: 0px;
    left:70px;
    cursor: pointer;
}


.chain{
    position: relative;
    text-align: center;
}
.fa-chain{
    transform: rotate(44deg);
    color: #e5e5e5;
}

.chain-right{
    position: absolute;
    right: -8px;
    top: -5px;
}
.chain-left{
    position: absolute;
    left: 70px;
    top: -5px;
}
.chain-right::before{
    content: "\f111";
    font-family: fontawesome;
    font-size: 9px;
    position: absolute;
    top: -13px;
    right: 14px;
    color: #e5e5e5;
}
.chain-right::after{
    content: "\f111";
    font-family: fontawesome;
    font-size: 9px;
    position: absolute;
    top: -13px;
    right: 200px;
    color: #e5e5e5;
}
.chain-left::before{
    content: "\f111";
    font-family: fontawesome;
    font-size: 9px;
    position: absolute;
    bottom: -11px;
    right:-175px;
    color: #232f3e;
}

.chain-left::after{
    content: "\f111";
    font-family: fontawesome;
    font-size: 9px;
    position: absolute;
    bottom: -11px;
    left: 15px;
    color: #232f3e;
}





#content .container{
    margin-right:40px;
    margin-left:40px;
}
#categories{
box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
}
#cssmenu {
    padding: 0;
    margin-right: 40px;
    border: 0;
    line-height: 1;
}
#cssmenu > ul, #cssmenu {
    width: 90% !important;
}
#cssmenu ul {
    position: relative;
    z-index: 597;
    float: right;
}
#cssmenu ul, #cssmenu ul li, #cssmenu ul ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#cssmenu ul li {
    min-height: 1px;
    line-height: 1em;
    vertical-align: middle;
    position: relative;
}
#categories i.fa {
    float: right;
    color: #666;
    margin-left: 10px;
    padding-top: 0px;
}
#categories b {
    color:#666;
    position: absolute;
    left:10px;
    top:11px;
}
#cssmenu > ul > li > a {
    color: #fff;
    margin-top: 0px;
}
#cssmenu a {
    display: block;
    padding: 15px 5px;
    color: #666 !important;
    text-decoration: none;
    text-transform: uppercase;
}
#cssmenu > ul > li a:hover {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
}



.b-img1{
    margin-top: 50px;
}
img{
    vertical-align: 0;
}
.banner4{
    margin-top:20px;
    margin-right: 20px;
    margin-bottom: 20px;
}




#slider{
    margin-top:50px;
    margin-right:0;
}
.banner img{
    max-width:97%;
    vertical-align: middle;
    display:inline;
}
.deals-layout1 {
    position: relative;
}
.module h3.modtitle {
border-bottom: 2px solid #eee;
display: inline-block;
width: 100%;
position: relative;
margin-top: 0;
margin-bottom: 20px;
font-size: 16px;
color: #000;
font-weight: 700;
text-transform: uppercase;
}
.module h3  span {
font-size: 16px;
color: #fff;
font-weight: 700;
float: right;
text-transform: uppercase;
margin-bottom: 0px;
background-color: #232f3e;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
padding: 11px 20px;
position: relative;
bottom: -2px;
}
.slick-append {
    position: absolute;
    left: 20px;
}
.slick-append button {
   
display: inline-block;
border-radius: 3px;
transform: translateY(-5px);
color: #333333;
border: none;
outline: none;
background-color:#fff;
border: 2px solid #ccc;
border-radius: 50%;
width: 28px;
height: 28px;
line-height: 22px;
text-align: center;
overflow: hidden;
cursor: pointer;
opacity: 1;
z-index: 99;
}
.slick-append button:hover {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
}
.grade-wrapper img{
    max-width:80%;
}
.product-info .product-title {   
 padding-bottom:20px;
}

.product-info .product-title a{
    color: #222;
    font-size: 18px;
    
}

.product-info .product-title a:hover{
    color:#ff3c20;  
}

.product-info .product-price{
    color:#ff3c20; 
    padding-bottom:20px; 
}
.product-info .add-to-cart{
box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.11);
padding: 5px 0px 5px 5px;
border-radius: 5px;
}

.product-info .add-to-cart:hover{
    box-shadow: 0 0 6px 0 rgba(255, 0, 0, 0.50);
    padding: 5px 0px 5px 5px;
    border-radius: 5px;
}
.add-to-cart .fa{
    color:#ff3c20; 
}





.a1 b{
    color:#ff3c20; 
      
}
h4.modtitle{
font-size: 16px;
color: #222;
font-weight: 700;
text-transform: uppercase;
background-color: transparent;
padding: 0;
padding-bottom: 8px;
bottom: 0;
border-bottom: 2px solid #eee;
display: inline-block;
width: 100%;
position: relative;
margin-bottom: 7px;
margin-top:15px;
width: 90%;
}
.item-info .item-title a{
       color: #222;
       font-size: 16px;
       
   }
   
.item-info .item-title a:hover{
       color:#ff3c20;  
   }
   
.item-info .item-price{
       color:#ff3c20; 
       
   }
.module img{
    margin: 0 auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: auto;
}
.product-price del{
    color: #999;
}
.label-product-sale {
    text-align: center;
    background-color: #ff3c20;
    border-radius: 50%;
    color: #fff;
    display: block;
    font-size: 11px;
    font-size: 1.2rem;
    font-weight: 700;
    height: 35px;
    width: 35px;
    line-height: 40px;
    position: absolute;
    top: 0px;
    text-transform: uppercase;
    z-index: 9;
    padding: 0;
    margin-bottom: 5px;
}
span.fa-stack .fa-stack-2x {
    font-size: 11px;
    color:#666;
    
   }
span.fa-stack {
    width: 14px;
    height: 11px;
    line-height: 10px;
    font-size: 12px;
    margin-bottom:15px;
}
.item-price del{
    color: #999;
}
.item-info {
font-size: 11px;
}







.block-infos li .inner {
    padding: 25px 0;
}
.block-infos li .inner i {
    font-size: 30px;
    padding-top: 8px;
    width: 50px;
    float:right;
    margin-right: 10px;
    text-align: center;
}
.block-infos li .inner {
padding:12px 0;
       
}
.block-infos {
    border: 1px solid #ebebeb;
    border-radius: 3px;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 40px;
   width: 250px;
}
.info-cont a{
    color:#222;
    
}
.inner{
    border-bottom: 1px solid #ebebeb;
    
}
.inner .fa{
    color:#222;
}

.info-cont a:hover{
    color:#ff3c20;
}
.inner .fa:hover{
    color:#ff3c20;    
}

.blog-title{
    color:#222;
    margin-top:15px;
    margin-bottom:20px; 
    margin-right:40px;
    padding-bottom: 20px;
}
.blog-title a{
    color:#222;  

}
.blog-title .fa{
    color:#222;
    
}







.item-new-product .product{
    text-align: center;
    background-color: #f8f8f8;
    min-height: 270px;
}
.item-new-product2 .product{
    text-align: center;
    background-color: #f8f8f8;
    min-height: 270px;
}
.item-new-product .product .product-title a:hover{
    color: #ff3c20 !important;
}
.item-new-product2 .product .product-title a:hover{
    color: #ff3c20 !important;
}
.item-new-product .product-price,.item-new-product2 .product-price{
    font-size: 13px;
    color: #ff3c20;
}
.item-new-product span.fa-stack,.item-new-product2 span.fa-stack{
    margin-bottom: 30px;
}





.menu-link{
    border-bottom: 2px solid #eee;
    margin-bottom: 30px;
}
.menu-link .middle-menu li{
    float: right;
    width: auto;
    margin-right: 15px;

}
.menu-link .middle-menu li a{
    display: block;
    padding: 5px;
    color:#666;
}
.menu-link .middle-menu li a:hover{
    color: #ff3c20;
}
#content .container {
    margin-right: 0px;
    margin-left: 40px;
}





.banners8 .b1,.banners8 .b2{
    text-align: center;
    background-color: #f8f8f8;
    min-height: 210px;
}

.banners8 .b1 .product-price,.banners8 .b2 .product-price{
    color: #ff3c20;
}



.item-product3 .product-info{
    text-align: justify;
    background-color: #f8f8f8;
    min-height: 130px;
}
.item-new-product3{
    background-color: #f8f8f8;

}
.item-product3 .product-title a{
    font-size: 15px;
}










.typefooter-1 {
    margin-top: 0px;
}
.footer-container {
    clear: both;
}
footer{
    display:block;
}
footer #collapse-footer {
    max-height: 100%;
}
footer #collapse-footer {
    display: block;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.so-page-builder .container-fluid {
    padding: 0;
    overflow: hidden;
}
.typefooter-1 .footer-top {
    background-color: #232f3e;
    padding: 37px 0;
}
.typefooter-1 .footer-top .ftop {
    margin: 0 auto;
    float: none;
    padding: 0;
}
body.layout-2 .container, body.layout-1 .container {
    max-width: 1650px;
    padding: 0;
    width: 93%;
}
.typefooter-1 .footer-top .ftop {
    margin: 0 auto;
    float: none;
    padding: 0;
}

.col-lg-8{
    float:right;
}

.typefooter-1 .footer-top .ftop .col-lg-8 {
    width: 75%;
}
.typefooter-1 .newsletter-footer1 .newsletter {
    background-color: transparent !important;
}
.typefooter-1 .newsletter-footer1 .newsletter .title-block {
    width: 45%;
}
.typefooter-1 .newsletter-footer1 .newsletter .title-block {
    position: relative;
    color: #fff;
    float: right;
    width: 40%;
    padding-left: 70px;
    margin-top: 17px;
}

.typefooter-1 .newsletter-footer1 .newsletter .title-block {
    position: relative;
    color: #fff;
    float: left;
    width: 40%;
    padding-left: 70px;
    margin-top: 17px;
}
.typefooter-1 .newsletter-footer1 .newsletter .title-block::before {
    position: absolute;
    font-family: 'FontAwesome';
    content: "\f1d9";
    font-size: 40px;
    position: absolute;
    top: 5px;
    left: 0;
}
.typefooter-1 .newsletter-footer1 .newsletter .title-block {
    color: #fff;
}
.typefooter-1 .newsletter-footer1 .newsletter .title-block .page-heading {
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.typefooter-1 .newsletter-footer1 .newsletter .title-block .promotext {
    font-size: 14px;
}

.typefooter-1 .newsletter-footer1 .newsletter .block_content {
    float: right;
    width: 60%;
}
.typefooter-1 .newsletter-footer1 .newsletter .block_content form.signup {
    display: block;
    margin-top: 11px;
    padding-left: 45px;
}
.form-group {
    margin-bottom: 15px;
}
.typefooter-1 .newsletter-footer1 .newsletter .block_content form.signup .form-group {
    position: relative;
}
.newsletter .form-inline .form-group {
    display: block;
}
.form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
.typefooter-1 .newsletter-footer1 .newsletter .block_content form.signup .form-group .input-box {
   
    vertical-align: top;
    padding-right: 100px;
    border-radius: 4px;
}
.typefooter-1 .newsletter-footer1 .newsletter .block_content form.signup .form-group #txtemail {
    height: 50px;
    line-height: 50px;
    width: 100%;
    box-shadow: none;
    padding: 0 0 0 20px;
    border: none;
    background-color: #fff;
}
.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
.typefooter-1 .newsletter-footer1 .newsletter .block_content form.signup .form-group .subcribe {
    position: absolute;
    top: 0;
    left: 0;
}
.typefooter-1 .newsletter-footer1 .newsletter .title-block::before {
    position: absolute;
    font-family: 'FontAwesome';
    content: "\f1d9";
    font-size: 40px;
    position: absolute;
    top: 5px;
    left:60px;
}

.typefooter-1 .newsletter-footer1 .newsletter .block_content form.signup .subcribe button {

border: 0 none;
color: #fff;
font-weight: 700;
font-size: 16px;
height: 50px;
line-height: 50px;
padding: 0 17px;
text-transform: capitalize;


}
.typefooter-1 .newsletter-footer1 .newsletter .block_content form.signup .subcribe button {
background-color: #ff3c20;

}
.btn-default {

background: #ff3c20;
background-color: rgb(255, 60, 32);
border-top-left-radius: 2px;
border-bottom-left-radius: 2px;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;

}
.typefooter-1 .footer-top .ftop .col-lg-4 {
width: 25%;
}
.col-lg-4 {
width: 33.33333333%;
position: relative;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
float: left;
}


.col-lg-8{
float: left;
}
.typefooter-1 .socials {
float: left;
margin-top: 25px;
}

.typefooter-1 .socials li {
position: relative;
display: inline-block;
padding-left: 18px;
margin-left: 18px;
}

a, a:visited, a:active, a:link, a:focus {
cursor: pointer;
text-decoration: none;
outline: none;
}
.typefooter-1 .socials li a {
color: #fff;
font-size: 14px;
text-transform: capitalize;
}
.typefooter-1 .socials li a i {
display: inline-block;
font-size: 16px;
margin-right:2px;
padding:0;
}

.typefooter-1 .socials li a i:hover{
color:#ff3c20;
}

.typefooter-1 .socials li a span {
    display: none;
}


.fa-facebook-f::before {
    content: "\f09a";
}
.fa-google-plus::before {
    content: "\f0d5";
}
.fa-twitter::before {
    content: "\f099";
}
.typefooter-1 .socials li::before {
    background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
    content: "";
    height: 10px;
    position: absolute;
    left: 0;
    top: 8px;
    width: 1px;
}







#cart-container-float{
    position: fixed;
    left: 42%;
    border-radius: 0 0 20px 20px;
    border: 1px solid #000;
    z-index: 1000;
    padding: 6px;
    font-size: 9pt;
    background-color:#000;
    font-family: IRANSans;
    color: white !important;
}
.center{
    text-align: center;
}


.item-new-product{
position: relative;
}


.btn-nextوbtn-prev{
    position: absolute;
}
.item-new-product .btn-next{
    top: 50%;
    right: 0px;
    position: absolute;
    display: inline-block;
}