*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    direction: rtl;
    font: 9pt tahoma;
}
a{
    text-decoration: none;
    color: #222222;
}
.clear{
    clear: both;
}
#menubar li{
    display: inline-block;
}
#menubar li a{
    padding: 5px 8px;
    color: #111111;
    display: block;
}
#menubar li a:hover{
    background-color: rgb(163, 163, 139);
    color: white;
}
#menubar ul > li > ul{
    display: none;
    position: absolute;
}
.container{
    width: 1170px;
    /* min-height: 300px; */
    /* border: 1px solid #999999; */
    background-color: beige;
    margin: 30px auto;
    overflow: auto;
}
#product-gallery li{
    list-style: none;
    width: 15.8%;
    margin: 10px 5px;
    padding: 5px;
    float: right;
}
#product-gallery li:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    cursor: pointer;
    background-color:rgb(204, 204, 156);
    border-radius: 20px;
    transition:all 1s ease;
}
#product-gallery{
    width: 100%;
    display: block;
}
#product-gallery img{
    margin: 10px;
}
#product-gallery .product-item .product-img{
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 155px;
}
#product-gallery .product-item .product-img:hover .main-img{
    opacity: 0;
    z-index: 0;
}
#product-gallery .product-item .product-img:hover .side-img{
    opacity: 1;
    z-index: 1;
}
#product-gallery .product-item .product-img .main-img,#product-gallery .product-item .product-img .side-img{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 1;
    transition: all 1s ease-in-out;
}
#product-gallery .product-item .product-img .side-img{
    z-index: 0;
    opacity: 0;
}
#product-gallery .product-item{
    padding: 5px;
    text-align: center;
    position: relative;
    min-height: 300px;
}
#product-gallery .product-title{
    margin: 10px auto;
    display: inline-block;
    float: none;
}
#product-gallery .product-title:hover{
    color: #666666;
    cursor: pointer;
}
#product-gallery .product-price{
    color: red;
    margin: 10px auto;
    padding: 5px;
}
#product-gallery .price-container{
    /* border: 1px solid #cccccc; */
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.btn{
    border: 1px solid rgb(105, 139, 89);
    background-color: rgb(105, 139, 89);
    color: white;
    padding:5px 15px  10px;
    display: inline-block;
    border-radius: 5px;
}
.btn:hover{
    background-color: beige;
    color: rgb(105, 139, 89);
}
#product-gallery span{
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 15px;
    position: absolute;
    top: 5px;
    left: 5px;
}
