*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    direction: rtl;
    text-align: center;
    font: 9pt tahoma;
}
a{
    text-decoration: none;
    color: #222222;
}
.clear{
    clear: both;
}

.container{
    width: 1170px;
    min-height: 300px;
    /* border: 1px solid #999999; */
    background-color: beige;
    margin: 30px auto;
    overflow: auto;
   
}
#product-gallery li{
    list-style: none;
    width: 15.8%;
    margin: 10px 5px;
    padding: 5px;
    float: right;

}
#product-gallery li:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    cursor: pointer;
    background-color:rgb(204, 204, 156);
    border-radius: 20px;
}
#product-gallery{
    width: 100%;
    display: block;
}
#product-gallery .product-item{
    padding: 5px;
    text-align: center;
    position: relative;
    min-height: 350px;
    transition:all 2s ease;
    position: relative;
    min-height: 300px;
}
#product-gallery .product-img{
    margin: 10px auto;
}
#product-gallery .product-title{
    margin: 10px auto;
    display: inline-block;
    float: none;
}
#product-gallery .product-title:hover{
    color: #666666;
    cursor: pointer;
}
#product-gallery .product-price{
    color: red;
    margin: 10px auto;
    padding: 5px;
}
.btn{
    border: 1px solid rgb(105, 139, 89);
    background-color: rgb(105, 139, 89);
    color: white;
    padding:5px 15px  10px;
    margin: 10px auto;
    display: inline-block;
    border-radius: 5px;
    position: absolute;
    left:15%;
    bottom: 0px;
}
.btn:hover{
    background-color: beige;
    color: rgb(105, 139, 89);
}
#product-gallery span{
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    top: 5px;
    left: 5px;
    
}
